{% extends 'mypages/base.html' %}

{% block content %}
{% load static %}
<!-- start header -->


<header id= "home" class= "home mt-3">
  <div class="container">
   <div class="row" style= "background-color: #F1F9FC;">
     <div class="col-sm-12 col-lg-6 ">
      <img src="{% static 'mypages/images/pict11.jpg' %}" alt="picture" width=100%>
     </div>
     <div class="col">
      <div class= " myline">
       
       <h2 style="padding-left: 200px"><span> معلومات </span><span style= "color: #F17476 ">ونصائح </span></h2>
       <br> 
       <h2><span>عن امراض ضغط</span> <span style= "color: #F17476 ">الدم</span></h2>
      </div> 
     </div>
   </div>
      <p><h5 style=" text-align: center ; color: #292F61 ; font-weight: bold; ">    ما المقصود بضغط الدم ؟</h5></p>
   <div class="row mt-4">
     
   
     <div class="col-sm-12 col-lg-6" style= "background-color: #365394 ; padding-top: 20px">
       <p > <h4 style=" text-align: center ; color: #ffffff">     ضغط الدم </h4></p>
        <p style=" color: #ffffff ; text-align: right ; padding-top: 15px ; line-height:1.9;">هو مقياس قوة دفع الدم ضد جدران الأوعية الدموية. 
حيث أنّ القلب مسؤول عن ضخ الدم المُحمّل بالأوكسجين والعناصر الغذائية إلى أنسجة الجسم المختلفة، وذلك من الجزء الأيسر من القلب عبر الشرايين،
   فيحدث ضغط على الشرايين يُعبَّر عنه بضغط الدم.
يصل ضغط الدم ذروته عند انقباض عضلة القلب في اللحظة التي يضخ فيها القلب الدم، ويُعرف ضغط الدم الناجم عن ذلك بضغط الدم الانقباضي ،


 في حين يصل ضغط الدم أدنى مستوياته عندما ينبسط ويستريح بين الانقباضة والأخرى من أجل تعبئته بالدم مُجدّداً،
     
      ويُعرف عندئذ بضغط الدم الانبساطي
لذلك فأنّ الضغط مهم للغاية لإيصال الأوكسجين والعناصر 
        الغذائية إلى أنسجة الجسم المختلفة، 
  وكذلك إنّ ضغط الدم مهم لإيصال ونقل خلايا الدم البيضاء والأجسام المضادة المهمة للمناعة، 
 وكذلك لنقل بعض الهرمونات مثل الإنسولين.
  من جهة أخرى فإنّ الدم المُغذى بالأوكسجين عندما يصل إلى الخلايا ويُزوّدها به وبالعناصر الغذائية الضرورية، فإنّه قادر على التقاط ثاني أوكسيد الكاربون وغير ذلك من المركبات الناجمة عن عمليات الأيض التي تحدث في الخلية،
      بما في ذلك السموم التي يطرحها الجسم عن طريق الكبد والكليتين </p>




     </div>
     <div class="col-sm-12 col-lg-6 mycol ">
      <img src="{% static 'mypages/images/pict22a.jpg' %}" alt="mypicture" width=100% >
     </div>
    
    </div>
 </div> 
 


</header>

<a class="myscroll" style="display:scroll;position:fixed;bottom:300px;right:25px;color: #F17476" href="#" title="Back to Top"> <i class="fas fa-arrow-alt-circle-up fa-2x"></i> </a>
 
<!-- end header -->







<br><br><br>
{% endblock content%}


































