{% extends 'mypages/base.html' %}

{% block content %}
{% load static %}
<div class="container mt-5 mb-5">
  <div class="card text-center">
   <div class="card-header">
   <h5 style="color: navy;" > التأثيرات </h5>
  </div>
   <div class="card-body">
     <h5 class="card-title pt-3 pb-3" style="color: #F17476;"> عوامل تؤثر على ضغط الدم الطبيعي</h5>
        <p style=" text-align: right; color: navy;"> هناك بعض العوامل  التي تلعب دورا في قراءات ضغط الدم الطبيعية</p>
     <ul class="list" style=" text-align: right; direction: rtl; list-style-type: decimal;">
      <li class="list-item" style="color: #F17476;"> نوع الجنس</li> 
      <p  style="color: navy;"> وفقاً للمعهد الوطني للشيخوخة، من المرجح أن يكون لدى الذكور ضغط دم مرتفع قبل بلوغ سن 55، في حين يميل ضغط الدم الطبيعي للنساء إلى الارتفاع بعد انقطاع الطمث.

الأطباء يرجحون أن التغيرات الهرمونية التي تحدث للمرأة مع انقطاع الدورة الشهرية هي السبب وراء ارتفاع معدلات الإصابة بارتفاع ضغط الدم.

ومن المعروف أن هرمون الاستروجين يلعب دورا مهما في الوقاية من أمراض الشرايين كما أن الهرمونات الأنثوية تساعد على سهولة اتساع الشرايين وتحسين ضخ الدم مقارنة بالرجال
ومع دخول المرأة للخمسينات (وأحيانا قبل ذلك)، يتراجع انتاج الأستروجين بشكل واضح، كما تزيد الخطورة في ظل وجود عوامل أخرى مثل قلة الحركة وزيادة الوزن


</p>
      <li class="list-item" style="color: #F17476;"> التقدم بالعمر</li>
    
       <p style="color: navy;"> 
        مع التقدم بالعمر فإن ضغط الدم الطبيعي لكبار السن والراشدين فوق سن الخمسين يبدا ً بالانحراف عن معدله الطبيعي.

يميل ضغط الدم الانقباضي إلى الزيادة بشكل مطرد مع مرور العمر بسبب تصلب الشرايين والاوعية الدموية مما يعيق من مرور الدم من خلال الدورة الدموية إلى جميع أنحاء الجسم.

إن زيادة ضغط الدم الانقباضي عامل خطر رئيسي لأمراض القلب، وهذا يعني أن كبار السن بحاجة إلى أن يكونوا أكثر يقظة بشأن مراقبة ضغط الدم لديهم
       </p>
      <li class="list-item" style="color: #F17476;"> العامل الوراثي</li>
      <p style="color: navy;">
       وجود تاريخ مرضي باضطراب مستوى ضغط الدم في العائلة قد يزيد من احتمالية الاصابة بمرض ضغط الدم المرتفع.

وقد يكون التفسير المقبول هو أن الوراثة تهيء المناخ لحدوث ذلك والتي تؤدي بدورها إلى زيادة غير سوية في عنصر الكالسيوم في الجسم وهو المسبب الرئيسي لضغط الدم، فإذا أضيف إلى ذلك عنصر الغذاء، اكتملت فصول القصة، وترتب على ذلك ظهور المرض
      </p>
      
     </ul>



    <p class="card-text pt-3">
    <h6 style="color: blue; padding-bottom: 10px;"> مضاعفات ارتفاع ضغط الدم
    </h6>
     <p style="color: navy;"> ضغط الدم الزائد على جدران الشرايين، قد يسبب ضررًا للأوعية الدموية ولأعضاءٍ أخرى في الجسد. كلّما كان ضغط الدم مرتفعًا أكثر وكلّما بقي مرتفعًا دون علاج لفترةٍ طويلة أكثر، يكون الضرر أكبر.

 عدم علاج ضغط الدمٍ المرتفعٍ قد يؤدي إلى

        </p>

      <ul class="list" style=" text-align: right; direction: rtl; color: navy;">
  <li class="list-item">   الإضرار بالأوعية الدموية 
   (تمدّد موضعي لجدران الأوعية الدموية)
  </li>
  <li class="list-item"> توقّف القلب</li>
  <li class="list-item">انسداد أو تمزّق أوعية دموية في الدماغ</li>
  <li class="list-item"> ضعف وتضيّق الأوعية الدموية في الكليتين</li>
  <li class="list-item"> تكثـُّف، تضيـُّق أو انهتاك الأوعية الدموية في العينين</li>
  <li class="list-item"> مشاكل في الذاكرة أو في الفهم</li>
</ul>

  <h6 style="color: blue; padding-bottom: 10px;"> مضاعفات انخفاض ضغط الدم</h6>
  <p style="color: navy;"> على الرغم من أنّ ضغط الدم المنخفض قد يُصيب الفئات العمرية المختلفة؛ إلّا أنّه أكثر شيوعًا لدى الأشخاص المُلازمين للفراش، ويُعتبر كبار السنّ والسيدات الحوامل أكثر عرضةً لانخفاض ضغط الدم الانتصابي، أمّا الشباب والأطفال فهما أكثر عُرضة لانخفاض ضغط الدم بوساطة عصبية، وبالمُجمل قد تتوافر لدى بعض الأشخاص عوامل خطر تزيد من احتمالية إصابتهم بضغط الدم المنخفض
  : ومن العوامل الأخرى التي قد تزيد من احتمالية حدوث هذه الحالة  
     </p>
     <ul class="list" style=" text-align: right; direction: rtl; color: navy;">
  
  <li class="list-item"> استخدام الأدوية التي تتسبّب بانخفاض ضغط الدم</li>
  <li class="list-item"> وجود اختلالات هرمونية أو نقص في الفيتامينات</li>
  <li class="list-item"> وجود مشاكل في القلب أو اعتلالات في الكبد </li>
  
  
</ul>
    </p>
    
   </div>
   <div class="card-footer text-muted">
    
    </div>
  </div>
</div> 

<a class="myscroll" style="display:scroll;position:fixed;bottom:300px;right:25px;color: #F17476" href="#" title="Back to Top"> <i class="fas fa-arrow-alt-circle-up fa-2x"></i> </a>







{% endblock content%}