{% extends 'mypages/base.html' %}

{% block content %}
{% load static %}

<div class="container px-lg-5">
  <div class="row mx-lg-n5 mb-5 justify-content-center" style=" margin-top: 50px;">



  <div class="card ml-2 mb-5 mr-2" style="width: 30rem; background-color: #fad9e1; ">
  <img src="{% static 'mypages/images/pict8.jpg' %}" class="card-img-top " alt="..." style=" height: 250px;" >
  <div class="card-body">
   <h5 style="text-align: center; background-color: #ffffff; padding-top: 10px;"> الوقاية من ارتفاع ضغط الدم</h5>
    <p class="card-text" style=" text-align: center; line-height: 2.2; color: navy; padding-top: 10px;"> 
    على الرغم من عدم وضوح السبب وراء حدوث ارتفاع ضغط الدم في كثير من الأحيان؛ إلّا أنّ هناك مجموعة من العوامل التي يمكن أن تزيد من خطر الإصابة به، وتنقسم هذه العوامل إلى أسباب لا يمكن السيطرة عليها أو الوقاية منها؛ مثل: العُمر والعِرق، بالإضافة إلى التاريخ العائلي للإصابة بارتفاع ضغط الدم، أمّا عندما يتعلق الأمر بأنماط الحياة مثل: زيادة الوزن، وتناول الطعام المملح بكثرة، والتدخين، إلى جانب اتّباع نمط حياة خامل بعيداً عن ممارسة التمارين الرياضية، فإنّه يمكن السيطرة علي،
     </p>
     <p  style=" text-align: center; line-height: 1.7; color: navy">
      وتكمن فكرة الوقاية في التركيز على تغيير هذه الأنماط للحد من خطر حدوث ارتفاع ضغط الدم الناتج عنها 
     
     
    
     <ul class="list" style="line-height: 2.2; color: navy;  direction: rtl; text-align: right;">
  <li class="list-item">ضبط ضغط الدم: إذ يمكن تخفيض ضغط الدم من خلال تعديل أنماط الحياة والالتزام بتعاطي الأدوية بشكل منتظم.</li>
  <li class="list-item"> الوقاية من السكري ومعالجته: يعاني 60% من مرضى السكري من ارتفاع ضغط الدم، ويمكن تخفيض خطر السكري بتناول نظام غذائي صحي والمحافظة على وزن صحي وممارسة النشاط البدني والرياضة.</li>
  <li class="list-item"> الحد من الضغط النفسي ومعالجته: ينبغي تجنب الحزن والتوتر والاكتئاب من خلال ممارسة الرياضة واليوغا وغيرها من طرق الاسترخاء</li>
  
  
</ul>
    </p>

  </div>
</div>
    {% comment %} <div class="col py-3 px-lg-5 border bg-light">Custom column padding</div> {% endcomment %}

 <div class="card ml-2 mb-5 mr-2" style="width: 30rem; background-color: #fad9e1;">
  <img src="{% static 'mypages/images/pict10.jpg' %}" class="card-img-top" alt="..." style=" height: 250px;">
  <div class="card-body">
   <h5 style="text-align: center; background-color: #ffffff;padding-top: 10px;"> الوقاية من أنخفاض ضغط الدم</h5>
    <p class="card-text" style=" text-align: center; line-height: 1.7; color: navy;padding-top: 10px;">
     يُساهم إجراء بعض التغييرات على أنماط الحياة في السّيطرة على انخفاض ضغط الدم المُزمن لدى العديد من الأشخاص بشكلٍ فعّال، ويُمكن تحقيق ذلك من خلال اتباع النّصائح التي يُوصي بها الطبيب بالاعتماد على المُسبب، وفيما يلي بيان لأبرز هذه النّصائح</p>


    <ul class="list" style="line-height: 2; color: navy;  direction: rtl; text-align: right;">
  <li class="list-item "> تناول غذاء يحتوي على نسبة أعلى من الملح وأقلّ من الكربوهيدرات، بالإضافة إلى تناول عدد أكبر من الوجبات وبكمياتٍ أقل،  </li>
  <li class="list-item">  الحرص على الحصول على قسط كافٍٓ من الراحة بعد تناول الوجبة، وتهدف هذه الإرشادات إلى تلافي نوبات هبوط الضغط والدوخة التي تلي تناول الطعام.</li>
  <li class="list-item"> الإكثار من شرب السوائل وخاصّةً خلال الأجواء الحارّة أو في حال الإصابة بعدوى فيروسيّة، كالتي تُصاحب الإنفلونزا أو نزلات البرد </li>
  <li class="list-item">  الابتعاد عن شرب الكحول</li>
  <li class="list-item"> متابعة السّجل الدوائي بشكلٍ مستمر مع الطبيب، واتخاذ الإجراء المُلائم فيما كان أيّ من الأدوية التي يتناولها الشخص تتسبّب بانخفاض ضغط الدم أو أعراضه </li>
  <li class="list-item">  ممارسة التمارين الرياضية بشكلٍ منتظم ممّا يساعد في تحسين الدورة الدموية.</li>
  <li class="list-item">  الحذر عند الانتقال من وضعية الجلوس أو الاستلقاء إلى وضعية الوقوف، وتجنّب الوقوف في نفس المكان لفتراتٍ زمنيةٍ طويلة</li>
  <li class="list-item"> رفع الرأس عن مستوى الجسم أثناء النوم </li>
  <li class="list-item"> تجنّب حمل الأشياء الثقيلة </li>
  <li class="list-item"> تجنّب التعرّض الطويل للحمامات السّاخنة </li>
  <li class="list-item">  استخدام الجوارب الضاغطة والتي تضغط على منطقة الفخد بما يحول دون تدفق كمياتٍ كبيرةٍ من الدم إلى الساقين، ممّا يُساهم في الحفاظ على نسبةٍ أعلى من الدم في الجزء العلوي من الجسم.</li>
  
</ul> 


  </div>
 </div> 

    
  </div>
</div>


<a class="myscroll" style="display:scroll;position:fixed;bottom:300px;right:25px;color: #F17476" href="#" title="Back to Top"> <i class="fas fa-arrow-alt-circle-up fa-2x"></i> </a>











{% endblock content%}