{% extends 'mypages/base.html' %}
{% load static %}


{% block content %}
<section id="myread">

<div class="container" >
  <div class="row mt-5">
    <div class="col-sm-12 col-lg-6  mb-4 " >
      <img src="{% static 'mypages/images/pict3.jpg' %}" alt="picture3" width=100% >
    </div>
    <div class="col" style="color: #292F61">
      <h5 style="text-align: center; color: navy">  ماذا تعني الارقام الي تظهر عند قياس ضغط الدم ؟</h5>
      <p style="text-align: right ; padding-top: 20px ; line-height:2.2; font-size: 16px ; padding-right: 10px; padding-left: 5px;">                             
       


 لضغط الدم قيمتان، الأولى تسمى بضغط الدم الانقباضي وتسجل عندما ينقبض القلب، والثانية تسمى ضغط الانبساطي وتسجل عند انبساط (ارتخاء) عضلة القلب.

ويقاس ضغط الدم باستخدام جهاز خاص قد يكون يدويا مثل جهاز قياس الضغط الزئبقي، أو آليا مثل أجهزة قياس الضغط الإلكترونية. وبينما قد يكون الأول أدق، فإن الثاني أسهل من حيث الاستعمال.

يسجل الجهاز قراءتين، الأولى -وهي الأعلى- تمثل ضغط الدم الانقباضي، والثانية -وهي الأقل- تمثل الانبساطي. وتكتب القراءة على شكل كسر، البسط هو الانقباضي والمقام هو الانبساطي. فمثلا إذا كان الضغط الانقباضي 115 والانبساطي 75، فيكتب ضغط الدم لهذا لشخص على صورة 115/75.

أما وحدة القياس فهي المليمتر الزئبقي، وتعني أن الضغط الانقباضي مثلا مساو لارتفاع عمود من الزئبق طوله 115 مليمترا
     
      
      </p>
    </div>
    
  </div>
  <br>
   
  <div class="row mb-5">
    <div class="col-sm-12 col-lg-12 ">
      <div class="card  border-primary rounded-lg" style="width: 30 rem;">
  <div class="card-body" style="background-color: navy">
   
    <h5 class="card-title" style=" text-align: center; color: #ffffff; ">ما هي معدلات الضغط الدم الطبيعي حسب العمر؟</h5>
    <br>
    <h6 class="card-subtitle mb-2 " style=" text-align: right; color: #ffffff;">: تعرف على معدل ضغط الدم الطبيعي حسب عمرك الحالي</h6>
    <br>
    <p class="card-text"> 
    <ul class="mycard">
    <h6>  ( من 18 إلى 19 سنة ) </h6>

     <li >يكون المعدل الطبيعي لقياس ضغط الدم 117/77    </li>
     <li> الحد الأدنى لقراءة ضغط الدم في هذا العمر  105/73 والحد الأقصى 120/81</li>
     <hr>
     <h6> ( من 20 إلى 24 سنة ) </h6>

     <li >الحد الأدنى لقراءة قياس الضغط في هذا العمر   108/75 والحد الأقصى 132/83 </li>
     <li>  المعدل الطبيعي لمستوى ضغط الدم في هذا العمر 120/79</li>
     <hr>
     <h6> ( من 25 إلى 29 سنة ) </h6>

     <li > ارتفاع مستوى ضغط الدم عن 133/84 في هذا العمر  يستدعي استشارة طبيب </li>
     <li>  المعدل الطبيعي لضغط الدم في ذلك العمر 121/80   الحد الأدنى لضغط الدم في هذا العمر 109/76</li>
     <hr>
     <h6> (من 30 إلى 34 سنة ) </h6>

     <li > يكون المعدل الطبيعي لقياس ضغط الدم 122/81 </li>
     <li>  الحد الأدنى لقراءة ضغط الدم في هذا العمر 110/77  والحد الأقصى   134/85</li>
     <hr>
     <h6> ( من 35 إلى 39 سنة ) </h6>

     <li >  ارتفاع مستوى ضغط الدم عن  135/86  في هذا العمر  يستدعي استشارة طبيب</li>
     <li> المعدل الطبيعي لضغط الدم في ذلك العمر 123/82   الحد الأدنى لضغط الدم في هذا العمر   111/78 </li>
     <hr>
     <h6> ( من 40 إلى 44 سنة ) </h6>

     <li > الحد الأدنى لقراءة قياس الضغط في هذا العمر  112/79 والحد الأقصى 137/87 </li>
    
     <li>  المعدل الطبيعي لمستوى ضغط الدم في هذا العمر  125/83</li>
     <hr>
     <h6> ( من  45 إلى 49 سنة ) </h6>

     <li > يكون المعدل الطبيعي لقياس ضغط الدم 127/84 </li>
     <li>  الحد الأدنى لقراءة ضغط الدم في هذا العمر 115/80 والحد الأقصى  139/88</li>
     <hr>
     <h6> ( من 50 إلى 54 سنة ) </h6>

     <li > ارتفاع مستوى ضغط الدم عن 142/89 في هذا  العمر  يستدعي استشارة طبيب</li>
     <li>  المعدل الطبيعي لضغط الدم في ذلك العمر 129/85 الحد الأدنى لضغط الدم في هذا العمر 116/81</li>
     <hr>
     <h6> ( من 55 إلى 59 سنة ) </h6>

     <li > الحد الأدنى لقراءة قياس الضغط في هذا العمر بين  118/82 والحد الأقصى 144/90</li>
     <li>المعدل الطبيعي لمستوى ضغط الدم في هذا العمر 131/86 </li>
     <hr>
     <h6> ( من  60 إلى 64 سنة ) </h6>

     <li > يكون المعدل الطبيعي لقياس ضغط الدم 134/87 </li>
     <li>الحد الأدنى لقراءة ضغط الدم في هذا العمر 121/83 والحد الأقصى 147/91 </li>
     

    </ul>
      </p>
    
  </div>
</div>
    </div>
    
    
  </div>
</div>

</section>

<a class="myscroll" style="display:scroll;position:fixed;bottom:300px;right:25px;color: #F17476" href="#" title="Back to Top"> <i class="fas fa-arrow-alt-circle-up fa-2x"></i> </a>

{% endblock content%}