{% extends 'mypages/base.html' %}

{% block content %}
{% load static %}

<div class="container px-lg-5">
  <div class="row mx-lg-n5 mt-5 mb-5" style=" background-color: #f7fcfc;">
    <div class="col-sm-12 col-lg-6  py-3 px-lg-5 border"><h5 style=" text-align: center; color: #F17476; padding-top: 10px; "> أسباب ارتفاع ضغط الدم</h5>
     <p  style=" text-align: right; padding-top: 10px;">  :هناك نوعان من ارتفاع ضغط الدم
       <h6 style=" text-align: right; color: blue;">
       (ضغط الدم المرتفع الأساسي (الجوهري
       </h6>
     <p style=" text-align: right;"> بالنسبة لمعظم البالغين، لا يوجد سبب محدَّد لضغط الدم المرتفع. يَميل هذا النوع من فرط ضغط الدم، المعروف باسم ارتفاع ضغط الدم الأوَّلي (الأساسي)، إلى التطوُّر تدريجيًّا خلال العديد من السنوات
     </p>
     <h6 style=" text-align: right; color: blue;"> 
     ارتفاع ضغط الدم الثانوي
     </h6>

     <p  style=" text-align: right;">  يُصاب بعض الأشخاص بارتفاع ضغط الدم الناتج عن ظروف غامضة. يَظهر هذا النوع من ارتفاع ضغط الدم -المعروف بمصطلح ارتفاع ضغط الدم الثانوي - فجأة، ويُسبب ارتفاع ضغط الدم أعلى من ارتفاع ضغط الدم الأساسي. هناك عدة حالات وعقاقير متنوعة قد تُؤدي إلى ارتفاع ضغط الدم الثانوي، بما في ذلك
     </p>
     
     
     <ul class="list" style=" text-align: right; direction: rtl;">
  <li class="list-item" > انقطاع النفس الانسدادي النومي</li>
  <li class="list-item"> مشاكل في الكُلَى</li>
  <li class="list-item"> أورام الغدة الكظرية</li>
  <li class="list-item"> مشاكل الغدة الدرقية</li>
  <li class="list-item"> بعض العيوب التي تُولد بها (عيب خلقي) في الأوعية الدموية</li>

</ul>
 <img src="{% static 'mypages/images/pict9.jpg' %}" class="card-img-top" alt="...">

     
     </p>
    </div> 

 


    <div class="col-sm-12 col-lg-6  py-3 px-lg-5 border"><h5 style=" text-align: center; color: #F17476; padding-top: 10px; "> أعراض ارتفاع ضغط الدم</h5>
    
     <p style=" text-align: right; padding-top: 10px;">
     
     يطلق عليه اسم المرض القاتل الصامت، لذلك من المهمِّ جدّاً قياس ضغط الدم بانتظام، إذ تعدُّ هذه الطريقة الوحيدة للكشف عن الإصابة به، وهذا ما يُفسِّر ضرورة قياس ضغط الدم على الأقلِّ مرَّة واحدة كلَّ خمس سنوات للبالغين، أذ يتم توجيه الشخص لطلب الرعاية الأوَّلية إذا كانت قراءة ضغط الدم مرتفعة أثناء إجراء الفحوصات الدوريَّة،  ومن الجدير بالذكر أنَّه لا يمكن تأكيد إصابة الشخص بارتفاع ضغط الدم عند ارتفاع قراءته لمرَّة واحدة فقط، إذ إنَّ قراءة ضغط الدم تختلف خلال اليوم، لذلك قد يسجِّل مقدِّم الرعاية الطبِّية قراءة مختلفة عن القراءة التي تم تسجيلها أثناء إجراء الفحوصات الدوريَّة

     
     </p>
     <p> <h6 style=" text-align: right; color: blue;"> أعراض الارتفاع الحادّ في ضغط الدم</h6> 
     :يسبِّب ارتفاع ضغط الدم الشديد ظهور بعض الأعراض، ومنها ما يأتي 

     <ul class="list" style=" text-align: right; direction: rtl;">
  <li class="list-item "> الصداع الشديد</li>
  <li class="list-item"> حدوث اضطرابات في الرؤية</li>
  <li class="list-item"> الإعياء</li>
  <li class="list-item">ضيق التنفُّس</li>
  <li class="list-item"> ألم في الصدر</li>
  <li class="list-item"> ظهور دم في البول</li>
  <li class="list-item"> عدم انتظام نبضات القلب</li>
  <li class="list-item"> الشعور بأنَّ شيئاً ما يطرق في الصدر أو الرقبة أو الأذنين</li>
  
</ul>
<p style=" text-align: right;"> يجدر التنبيه إلى أنَّه في حال عدم تلقِّي العلاج المناسب لارتفاع ضغط الدم قد يؤدِّي ذلك إلى ظهور العديد من المضاعفات، مثل: تلف القلب والدورة الدمويَّة، والرئتين، والدماغ، والكلى

  إذ يسبِّب ارتفاع ضغط الدم الشديد زيادة عبء عمل القلب، وبالتالي قد يؤدِّي إلى الشعور بألم في الصدر وضيق في التنفُّس، كما قد يسبِّب في بعض الحالات تمزُّق الشريان الأبهر الذي ينقل الدم من القلب إلى جميع أنحاء الجسم، والذي ينتج عنه الشعور بألم في الصدر أو البطن، كما يسبِّب اعتلال الدماغ الناتج عن ارتفاع ضغط الدم 

 وهي حالة صحِّية تحدث من حين إلى آخر تتمثَّل بتورُّم الدماغ مما يؤدِّي إلى الغثيان، والتقيُّؤ، والنعاس، والصداع، وقد تسبِّب لبعض الأشخاص الغيبوبة، ويجب التنبيه إلى ضرورة تلقِّي المعالجة الطبِّية الطارئة للأشخاص الذين تظهر لديهم الأعراض السابقة
     
  </p>   
     
     
     </p>
    
    
    </div>






  </div>

  
  <div class="row mx-lg-n5 mt-5 mb-5">
    <div class="col-sm-12 col-lg-6 py-3 px-lg-5 border" style=" background-color: white;"><h5 style=" text-align: center; color: #F17476; padding-top: 10px;"> أسباب انخفاض ضغط الدم</h5>
     <p style=" text-align: right; padding-top: 10px;">
        :بشكلٍ عام إنّ معظم الأشخاص البالغين الذين لا يُعانون من مشاكلٍ صحيّة تكون حالة ضغط الدم المنخفض طبيعية لديهم ولا تتسبّب بمشاكلٍ أو أعراض، وفي هذا السياق يُشار إلى أنّ ممارسة التمارين الرياضية بانتظام تُساهم في إبقاء قيم الضغط منخفضة مقارنةً بأولئك الذين لا يمارسون الرياضة،ومن الجدير بالذكر أنّ لانخفاض ضغط الدم مسبباتٍٓ عدّة بغضّ النّظر عن لياقة الأشخاص وممارستهم للتمارين الرياضية، وفيما يلي ذكر لأبرز هذه الأسباب



      <ul class="list" style=" text-align: right; direction: rtl;">
  <li class="list-item"> الشعور بالدفء الزائد؛ وذلك بسبب الطّقس الحار، أو الاستحمام بماءٍ ساخن أو نتيجة ارتداء الكثير من الملابس</li>
  <li class="list-item">  تراجع الدورة الدموية في الجسم، ممّا يؤدي إلى انخفاض كمية الدم في الجسم، وقد يحدث ذلك نتيجة التبرع بالدم، أو التعرّض لنزفٍ دمويٍ حادّ، أو الجفاف</li>
  <li class="list-item">  الحمل</li>
  <li class="list-item">  شرب الكحول أو تعاطي المُخدرات، وبخاصّة إذا كان ذلك بكمياتٍ كبيرةٍ</li>
  
</ul>
     </p>
    
    
    </div>
    <div class="col-sm-12 col-lg-6 py-3 px-lg-5 border" style=" background-color: lightwhite;"> <h5 style=" text-align: center; color: #F17476; padding-top: 10px;"> أعراض انخفاض ضغط الدم</h5>
     <p style=" text-align: right; padding-top: 10px;"> 
       يُمكن اعتبار ضغط الدم المنخفض حالةً مرضية لدى الجميع؛ فقد يكون ضغط الدم المنخفض أمرًا طبيعيًا لدى بعض الأشخاص ولا يُسببّب لهم أعراضًا مُزعجة أو مشاكل، وقد لا تتسبّب هذه الحالة بأيّ أعراض لدى العديد منهم، أمّا البعض الآخر فإنّ انخفاض ضغط الدم قد يرتبط لديهم بوجود مشكلةٍ طبيّة أدّت إلى حدوثه، خاصّة في حالة كان انخفاض ضغط الدم مفاجئًا أو تسبّب بظهور أعراض مُعينة، ومن هذه الأعراض ما يأتي
     </p>
     <ul class="list" style=" text-align: right; direction: rtl;">
  <li class="list-item"> الشعور بالتعب </li>
  <li class="list-item"> الغثيان</li>
  <li class="list-item"> الدوخة، أو خفة الرأس المعروفة بمرحلة ما قبل الإغماء </li>
  
</ul>
    <p style=" text-align: right; padding-top: 10px;">
      <h6 style=" text-align: right; color: blue;"> أعراض مُرتبطة بانخفاض ضغط الدم الشديد</h6>
       <p style=" text-align: right; padding-top: 10px;">
        ويتضمّن ذلك التشوش والارتباك خاصّةً لدى كبار السن، والإحساس ببرودة الجلد، أوشحوبه، أو تعرّقه، وضعف النبض وتسارعه، بالإضافة إلى زيادة سرعة التّنفس أو التنفس الضحل
       </p>
    <p>
    </div>
  </div>

</div>




<a class="myscroll" style="display:scroll;position:fixed;bottom:300px;right:25px;color: #F17476" href="#" title="Back to Top"> <i class="fas fa-arrow-alt-circle-up fa-2x"></i> </a>


{% endblock content%}