{% extends 'mypages/base.html' %}

{% block content %}
{% load static %}

 {% comment %} < start  system> {% endcomment %}

<div class="container">
<h5 style=" text-align: center; margin-top: 50px; color: navy;"> كيف تحافظ على معدل ضغط الدم الطبيعي؟</h5>
 <p><h6 style=" text-align: center; margin-top: 40px; color: navy;"> : إليك بعض النصائح التي تساعدك على الحفاظ على قراءة ضغط الدم ضمن النطاق الطبيعي والصحي</h6> </p>
  <div class="row justify-content-center border-primary rounded-lg" style=" background-color: #DEECF7; margin-top:30px; margin-bottom: 50px;">
   
    {% comment %} <div class="col">col</div> {% endcomment %}
    
     <div class="card mt-5 mb-3 ml-5 mr-5 border-info rounded-lg" style="width: 18rem;">
  <img src="{% static 'mypages/images/pict4.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center; color: #F17476;">  تناول نظام غذائي متوازن </h5>
    <p class="card-text" style="text-align: center; color: navy; padding-left: 5px;">اتباع نظام غذائي غني بالفواكه والخضروات الطازجة والحبوب الكاملة والمكسرات والبذور ومصادر البروتين اللين مثل السمك والفاصوليا.

ذلك من شأنه أن يساهم في الحفاظ على ضغط الدم الطبيعي وصحة القلب.

تأكد من تجنب الأطعمة المجهزة واللحوم الحمراء، وخفض كمية السكر والدهون المشبعة</p>
    
  </div>
</div>
     
    {% comment %} <div class="col">col</div> {% endcomment %}
     <div class="card mt-5 mb-3 ml-5 mr-5 border-info rounded-lg" style="width: 18rem;">
  <img src="{% static 'mypages/images/pict5.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center; color: #F17476;"> تقليل تناول الملح </h5>
    <p class="card-text" style="text-align: center; color: navy; padding-left: 5px;">يؤدي تناول الملح  بكثرة إلى التخلص من توازن الصوديوم والبوتاسيوم في الجسم، مما يزيد من احتباس السوائل والضغط على الكلى والأوعية الدموية التي تخدمها.

الأطعمة الغنية بالبوتاسيوم مثل البطاطا والموز والأفوكادو والبطاطا الحلوة والخضار ستساعد على تخفيف اثار الصوديوم</p>
    
  </div>
</div>
     
    <div class="w-100"></div>
    {% comment %} <div class="col">col</div> {% endcomment %}
     <div class="card mt-5 mb-4 ml-5 mr-5 border-info rounded-lg" style="width: 18rem;">
  <img src="{% static 'mypages/images/pict6.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center; color: #F17476; padding-top: 10px;">التمارين الرياضية</h5>
    <p class="card-text" style="text-align: center; color: navy; padding-left: 5px; padding-top: 5px;"> احرص على ممارسة التمارين الرياضية للحفاظ على ضغط الدم في المعدل الطبيعي.

تؤدي التمارين الرياضية إلى إطلاق الجسم لحمض النيتريك الذي يساعد الأوعية الدموية على التمدد وتقليل ضغط الدم.

كما يساعد النشاط المنتظم في تخفيف الوزن ونسبة الكوليسترول الضار والتقليل من التوتر والحفاظ على صحة القلب</p>
    
  </div>
</div>
    {% comment %} <div class="col">col</div> {% endcomment %}
     <div class="card mt-5 mb-4 ml-5 mr-5 border-info rounded-lg" style="width: 18rem;">
  <img src="{% static 'mypages/images/pict7.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="text-align: center; color: #F17476;"> الإقلاع عن التدخين</h5>
    <p class="card-text" style="text-align: center; color: navy; padding-left: 5px;"> التدخين يزيد من ضغط الدم ومعدل ضربات القلب ويزيد من خطر الإصابة بنوبة قلبية أو سكتة دماغية   
     وذلك لان النيكوتين يؤدي إلى تضييق وتصلب الشرايين </p>
    
  </div>
</div>
  </div>
</div>






<a class="myscroll" style="display:scroll;position:fixed;bottom:300px;right:25px;color: #F17476" href="#" title="Back to Top"> <i class="fas fa-arrow-alt-circle-up fa-2x"></i> </a>










 
 {% comment %} < end system> {% endcomment %}





{% endblock content%}