{% extends 'mypages/base.html' %}

{% block content %}
{% load static %}
 {% comment %} < start tips> {% endcomment %}
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-sm-12 col-lg-6 mb-5">
    <button type="button" class="btn btn-info btn-lg btn-block"><h5> الألياف الغذائية</h5> </button>
     <p style=" text-align: right; padding-left: 10px ; padding-right: 20px; padding-top: 30px; color: navy; line-height: 2;"> وهي عناصر غذائية تقاوم الهضم بالأنزيمات الموجودة في الأمعاء، ويتناول الشخص عادة في اليوم الواحد 10-15 غرام، وهي حصة ملائمة لكثير من الناس، إلا أنه وفي حالات خاصة يحتاج الشخص لزيادة هذه الحصة إلى 30-40 غرام يومياً. ومن فوائد زيادة كمية الألياف في الوجبة الغذائية:

خفض الوزن، نظراً لأنها خالية من السعرات الحرارية، كما أن بعضها (مثل البكتين) يؤخر إفراغ المعدة من الطعام، ما يشعر الشخص بالشبع لمدة طويلة.

الوقاية من الأمراض القلبية الوعائية، فبعض أنواع الألياف يرتبط بالدهون (الكولسترول) ويطرحها خارج الجسم مع البراز، مما يخفض من مستوى الدهون في الجسم وبالتالي يقي من الإصابة بأمراض القلب والتصلب العصيدي.

التحكم في السكري، إذ تساعد الألياف على ضبط مستوى السكر في الدم، مما يقلل من احتياجات مريض السكري لجرعات الأنسولين، ويوصى مريض السكري عادة بتناول 50-60 غرام يومياً من الألياف الغذائي  </p>
    </div>
    
    <div class="col-sm-12 col-lg-6">
    <button type="button" class="btn btn-info btn-lg btn-block"><h5>ألاعتدال في استهلاك الكافيين وتجنب الكحول </h5> </button>
     <p style=" text-align: right; padding-left: 10px ; padding-right: 10px; padding-top: 30px; color: navy; line-height: 2;"> ينصح العديد من الأطباء الأشخاص الذين يعانون من ارتفاع ضغط الدم أن يقللوا من كمية الكافيين التي يتناولونها يومياً إلى فنجانين من القهوة أو أربعة أكواب من الشاي، كما أن عليهم تجنب تناول الكافيين قبل القيام بنشاطات تزيد من ضغط الدم كالرياضة أو أية أنشطة تتطلب مجهوداً جسدياً شاقاً، وكذلك قبل نصف ساعة على الأقل من قياس ضغط الدم.

إن 5-7% من حالات ارتفاع ضغط الدم تكون ناتجة عن استعمال الكحول، وفي الأشخاص الذين يتناولون أدوية لخفض ضغط الدم فإن الكحول قد يزيد من التأثيرات الجانبية لبعض الأدوية كما أنه يحتوي على نسبة كبيرة من الوحدات الحرارية، وهو يزيد كذلك من الشهية للطعام، وكلا الأمرين كفيل بالتسبب للشخص بالبدانة</p>
    </div>
    <div class="col-sm-12 col-lg-12">
    <button type="button" class="btn btn-info btn-lg btn-block" width: 50%><h5> النباتات الطبيعية وقاية وعلاج </h5> </button>
     <p style=" text-align: center; padding-left: 10px ; padding-right: 10px; padding-top: 30px; color: navy; line-height: 2;"> الثوم: له دور هام في الوقاية من جلطة القلب عن طريق تأثيره على الكولسترول في الدم، وتخثر الدم، وخفض الضغط وإدرار البول، كما أن له أثر مطهر لالتهابات الحلق والمجاري التنفسية وتأثير مقشع، ويعتبر أيضاً مطهراً للإنتانات الهضمية.

الكرفس: وهو نوع مألوف وشائع من الخضار.

الأقحوان، الزعرور، الزيزفون، بيلسان الماء، الشوفان، الشاي، زيت الرشاد، وزيت القريص </p>
    </div>
    
  </div>
</div>


<a class="myscroll" style="display:scroll;position:fixed;bottom:300px;right:25px;color: #F17476" href="#" title="Back to Top"> <i class="fas fa-arrow-alt-circle-up fa-2x"></i> </a>


{% comment %} < end tips> {% endcomment %}

{% endblock content%}